@using DexCMS.Core.Mvc.HtmlHelpers;
@{
    bool isLocal = HttpContext.Current.Request.IsLocal;
}

@section head {
    @DexCMSRender.StylesWithVersion("~/libs/fullcalendar/fullcalendar.min.css")
    @DexCMSRender.StylesWithVersion("~/libs/qtip2/jquery.qtip.min.css")
}

<div id='loading'><i class="fa fa-spinner fa-spin"></i> Loading...</div>
<div id='calendar'></div>

@section scripts {
    @DexCMSRender.ScriptsWithVersion("~/libs/moment/moment.min.js")
    @DexCMSRender.ScriptsWithVersion("~/libs/fullcalendar/fullcalendar.min.js")
    @DexCMSRender.ScriptsWithVersion("~/libs/qtip2/jquery.qtip.min.js")
    @DexCMSRender.ScriptsWithVersion("~/scripts/dexcms/calendars/displaycalendar.js")
}